{% include "layout.html" %}
  <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
                <p>Stats</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
                  <p>Notifications</p>
                  <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
            <li>
                            <a href="#">
                <i class="ti-settings"></i>
                <p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
<div class="clearfix"></div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
        <div class="row has-sidebar">
       
          <div class="col-md-7 col-lg-8 col-xl-8">
            <div class="page-header bordered">
              <h1>Submit your property <small>We've over 15 Lac buyers and tenants for you!</small></h1>
            </div>
            <form action="index.php">
              <h3 class="subheadline">Basic Details</h3>
              <div class="form-group">
                <label for="title">Property Title</label>
                <input type="text" class="form-control form-control-lg" id="title" placeholder="Property Title" autofocus>
              </div>
              <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control form-control-lg" placeholder="Price ">
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="bedrooms">Property Type</label>
                    <select name="bedrooms" id="bedrooms" class="form-control form-control-lg ui-select">
                      <option value="0">Single room</option>
                      <option value="1">1 BHK</option>
                      <option value="2">2 BHK</option>
                      <option value="3">3 BHk</option>
                      <option value="4">Boys PG</option>
                      <option value="5">Girls PG</option>
                      <option value="6">Other</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="bathrooms">Property Status</label>
                    <select name="bathrooms" id="bathrooms" class="form-control form-control-lg ui-select">
                      <option value="0">Furnished</option>
                      <option value="1">Unfurnished</option>
                      <option value="2">Semi Furnished</option>
                    </select>
                  </div>
                </div>
              </div>
           
              <h3 class="subheadline">Location</h3>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control form-control-lg" id="autocomplete" placeholder="Enter your location">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control form-control-lg" placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control form-control-lg" placeholder="" id="locality">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control form-control-lg" placeholder="" id="administrative_area_level_1">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control form-control-lg" placeholder="" id="country">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Zipcode</label>
                    <input type="text" class="form-control form-control-lg" placeholder="" id="postal_code">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <h3 class="subheadline">Additional Features</h3>
                <div class="feature-list three_cols">
                  <div class="checkbox">
                    <input type="checkbox" id="Garden">
                    <label for="Garden">Garden</label>
                  </div>
                  <div class="checkbox">
                    <input type="checkbox" id="Gym">
                    <label for="Gym">Gym</label>
                  </div>
                
                </div>
              </div>
              <div class="form-group">
                <label>Property Description</label>
                <textarea class="form-control form-control-lg text-editor" placeholder=""></textarea>
              </div>
              <div class="form-group">
                <h3 class="subheadline">Upload Photos</h3>
                <div class="ui-dropzone">
                  <div class="icon"></div>
                  <div>Drag and drop images or click to upload</div>
                  <input type="file" class="form-control form-control-lg" id="gallery" multiple>
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <input type="checkbox" id="featured">
                  <label for="featured">Yes ‚ feature this listing. </label>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary">Submit Property</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</div>
<script>
var placeSearch, autocomplete;
var componentForm = {
  //street_number: 'short_name',
  //route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'long_name',
  country: 'long_name',
  postal_code: 'long_name'
};

function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode']});
  autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
  var place = autocomplete.getPlace();
  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }
  
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}
</script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvuspZieDAMlpAVAe2qwlvkk8oQU34dtg&libraries=places&callback=initAutocomplete" async defer></script> 
{% include "layout_footer.html" %}