{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
     <link href="{% static '/css/register.css' %} " rel="stylesheet" />
   </head>
<body>
<div id="login-box">
  <div class="left">
    <input type="submit" name="signup_submit" value="Register " />

    <h1>Login</h1>
    <input type="text" name="login" placeholder="E-mail or Mobile" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" name="signup_submit" value="Login" />
  </div>
  
  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div>
</div>
</body>
</html>