 {% load staticfiles %}
<!DOCTYPE html>
<html>


  <head>
    <title> Homepage</title>
      <link href="{% static '/css/dashboard.css' %} " rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
     
  </head>
  
  <body>

    
    
    <!-- GOOGLE IMG -->  
    <div class="google">
      <a href="#" id="google_logo"><img src=""/></a>
    </div>
    
    <!-- FORM SEARCH -->  
    <div class="form">  
      <form>
        <label for="form-search"></label>
        <input type="text" id="form-search" placeholder="Search Google or type URL">
      </form>
    </div>  
    
    <!-- BUTTONS -->
    <div class= "buttons">  
      <input type="submit" value="Owner!  Want To Post An Add?" id="owner_post_add">
     
    </div>
      
    
  </body>


  </html>