{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href=" {% static 'css/dashboard/style.css' %} ">
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
     <!-- <link href="{% static '/css/global/bootstrap.min.css' %}" rel="stylesheet" /> -->
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
     <script src="{% static '/js/global/jquery.min.js' %}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
    <title>Room for Rent</title>
  </head>
  <body>
    <div>
      <img src="{% static '/images/logo.png' %}"/>
      <form action="/dashboard/search_results" method="GET">
        {% csrf_token %}
          <input id="pac-input" class="search controls form-control search_input" type="text" placeholder="Search Box" autofocus required maxlength="50" name="search"> <span class="input-group-btn">
                  <button class="btn btn-primary " id="location" type="button">
                    <i class="fa fa-map-marker">
                    </i>
                  </button>
                </span><br>
        <button type="submit" value="Submit Button" class="button btn btn-primary" id="rental-search">Search
              </button>
        <button type="button" class="button btn btn-primary" onclick="window.open('/owner/owner_register')" id="feeling-lucky">I'm Owner
              </button>
        <input id="ip_location" type="hidden" value="{{ city }} {{ country }}">
      </form>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC95eHImBVWI4SbTc3DD2zruYGcWdI6xD0&libraries=places&callback=initAutocomplete"
                  async defer>
          </script>
           <script language="JavaScript" type="text/javascript" src="{% static '/js/dashboard/dashboard.js' %}">
    </script>
  </body>
</html>

